* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --primary: #fcfafb;
  --secondary: #333333;
  --neutral: #333333;
  --border-color: #333333;
}

html {
  font-size: 16px;
  font-family: Epilogue;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

footer, nav {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}


p {
  line-height: 1.75em;
}


ul {
  list-style-type: none;
}

.h1 {
  font-size: 3.052rem;
}

.h2 {
  font-size: 2.441rem;
}

.h3 {
  font-size: 1.953rem
}

.h4 {
  font-size: 1.563rem
}

.container {
  max-inline-size: 90%;
  margin: auto;

  @media screen and(min-width: 1440px) {
    max-inline-size: 1080px;
  }
}